.body{
    padding: 0px;
    margin: 0px;
}

/*--HEADER--*/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0px, 40px;
}

.listaheader{
    list-style-type: none;
    display: flex; 
    flex-direction: row;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.liheader{
    margin: 8px;
    margin-left: 20px;
}

.recuadro{
    text-decoration: none;
    color: white;
}

.logo{
    display: flex;
    height: 100px;
}

/*--FOOTER--*/
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    padding: 0px,50px;
    align-items: center;
}

.h4footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-left: 40px;
}

/*--MAIN--*/
.main{
    display: flex;
    background-color: rgb(22, 21, 21);
    flex-direction: column;
    justify-content: center;
    color: white;
}

.peliculas {
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 15px;
    justify-content: space-between;
}
.article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px, 20px;
}
.fotoinfinitywar {
    height: 300px;
}
.fotoGossipgirl{
    height: 300px;
}

.titulospelis{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 20px;
}

.tituloFavoritos {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 40px;

}

.bodyfav {
    color: black;
}

.navegacion {
    margin-right: 20px;

}

@media (max-width:420px) {
    .body{
        background-color: rgb(22, 21, 21);
    }
    .logo{ align-content: center;}
    .footer{width: 100%;}
    .peliculas {flex-direction: column; align-content: center ;}
    .listaheader {flex-direction: column;}
    .header {width:100%; flex-direction: column;}
    .main{align-content: center;}
    .titulospelis {margin-top: 50px; align-content: center;}
    .h4footer{margin: 0px; align-items: center;} 
    form{align-content: center; justify-content: center;}
}